# exclude all
/*

# include important folders
!CREDITS-fml.txt
!LICENSE-fml.txt
!MinecraftForge-Credits.txt
!MinecraftForge-License.txt
!forge-1.7.10-10.13.4.1558-1.7.10-changelog.txt
!release/

# need gradle 
!gradle/
!gradlew
!gradlew.bat
!build.gradle

# include markdowns
!LICENSE

# include sourcecode
!src/

# include git important files
!.gitmodules
!.gitignore